<body>
    <header class="navbar dashHeader">
        <h6 *ngIf="loginStatus">Logged In</h6>
        <h6 *ngIf="!loginStatus">Not Logged In</h6>

        <div class="dropdown show" style="cursor: pointer;margin-right: 50px;">
        <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="float:right; color:white" ><i class="fa fa-fw fa-user"></i> {{userName$ | async}}</a>
        <div class="dropdown-menu" style="min-width: 6rem;" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" style="font-size: small;" (click)="logOut()">Log Out</a>
        </div>
        </div>
      </header>
    <div class="container">
        <div class="dashHead">My Products Dashboard </div>
        <div class="container" style="display: flex;">
          <div class="card" *ngFor="let book of books" style="width: 9rem;">
            <img class="img-thumbnail bookImage" src={{book.bookThumbnail}} alt="Card image cap">
            <div class="card-body">
              <div class="card-title">{{book.bookName}}</div>
              <p class="card-text" style="font-size: 10px;">{{book.bookEdition}}</p>
            </div> 
          </div>
          </div>
    </div>
    <div class="footer">
        <a href="" class="footerElement" style="border-right: 0em; float: right;">&copy; Pawandeep Singh</a>
    </div>
    </body>
