body {
	font-family: Muli,sans-serif;
	height: -webkit-fill-available;
	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
			background-size: cover;
		//display: flex;
		font-family: Muli,sans-serif;
	}
}
.card-body {
	padding: .5rem;
}
.card {
	border: none;
}
h1 {
	color: navy;
	margin-left: 20px;
}
h6{
	padding:10px;
	color:white;
	float:right
	}
.card-title {
	font-size: 11px;
	font-weight: 600;
	margin-bottom: 0;
}
.bookImage {
	border: 0em;
}
.dashHead {
	font-size: 1.7em;
	padding: 20px 0px 15px 0px;
	font-weight: lighter;
	color: #696969;
	border-bottom: #696969 1px solid;
	margin-bottom: 20px;
	margin-left: 17px;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 1em;
	background-color: white;
	color: slategray;
	text-align: left;
	display: inline;
	font-size: .7em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footerElement {
	border-right: 1px solid #b4b4b4;
	padding: 2px 4px;
	margin: 0;
	color: #696969;
}
.dashHeader {
	background-color: black;
}
