<div class="main">
<header style="color:white">
    
</header>
<div class="card pageContent" >
<div class="contentHeading">Login / Logout Workflow App</div>
<div style="text-align: center;font-size: small;"><p class="dlsDescription"> ION Trading Remote Exercise</p></div>
<button type="button" class="loginButton btn btn-light btn-sm" routerLink="/login">LOGIN</button>
</div>
<div class="page-footer footer" style="z-index: 1;">
    <div>
    <a href="" class="footerElement" style="border-right: 0em; float: right;">&copy; Pawandeep Singh</a>
    </div>
</div>
</div>
